body {
	min-height: 1000px;
	background-image: url(../img/dim.png);
	background-size: 570px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 140px 60px;
    background-color: black; 
}

.transparent {
	background-color: rgba(255,255,255,0.1);
}

.h1{
	margin-top: 200px;
	height: 80vh;
}

.h1 h1{
	font-size: 70px;
	color: white;
}
.bar {
	margin-top: 10px;
	min-height: 5px;
	background-color: white;
}
.h1 h4{
	color: white;
}

.h1 p{
	font-size: 20px;
	color: rgb(100,100,100);
}
.h2 {
	min-height: 900px;
}
.col-md-6 h2{
	padding: 10px;
	font-size: 50px;
	color: white;
}

.balik-dia{
	font-weight: bold;
	background-color:rgb(200,200,200);
	color: black;
}
.garis-batas{
	width: 45px;
	margin-left: 10px;
	min-height: 5px;
	background-color: white;
}
.h4{
	min-height: 800px;
}

.skill{
	min-height: 400px;
}
.h3 {
	min-height: 350px;
}


.stopSet{
	margin-top: 1580px;
}
.stopSet1{
	margin-top: 300px;
}
.stopSet2{
	margin-top: 125px;
}

.paragraph{
	padding: 10px;
	font-size: 25px;
	color: rgb(200,200,200);
}

.tug {
	margin-left: 170px;
}

.bungkus {
	min-height: 800px;
}

.about {
	
}
.stop {
    top: 190px;
    position: fixed;
}
.stopabout {
    top: 150px;
    position: fixed;
}
.stopabouth4 {
    top: 40px;
    position: fixed;
}

.stopskill {
	margin-top: 720px;
}
.stopparagraph{
    top: 250px;
    position: fixed;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	body {
	min-height: 1000px;
	background-image: url(../img/dim.png);
	background-size: 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-color: black; 
	}
	.h1{
	margin-top: 150px;
	}

	.h1 h1{
	font-size: 100px;
	}
	.h1 h4{
		font-size: 50px;
	}
	.h1 p{
	font-size: 40px;
	}
}


@media only screen and (max-width: 1000px) and (min-device-width : 667px){
	body {
	min-height: 1000px;
	background-image: url(../img/dim.png);
	background-size: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-color: black; 
	}
	.h1{
	margin-top: 240px;
	}

	.h1 h1{
		font-size: 50px;
	}
}